{% extends 'base.html' %}
{% block title %} Register Page {% endblock %}


{% block content %}


<h1>Register Page</h1>

<form method="POST">

  {{form.hidden_tag()}}

  {% for field in form.errors %}
  <div class="alert alert-danger">{{ field }}:
    <ul>
      {% for error in form.errors[field] %}
      <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}

  {% for field in form if field.widget.input_type != 'hidden' %}

  <div class="form-group">

    {{field.label}}
    <div class="col-md-5">
      {{field}}
    </div>
  </div>

  {% endfor %}

  <button class="btn btn-info">Sign Up</button>
</form>

{% endblock %}